<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<title>Luke Plummer</title>
	</head>
	<body> 
		<div class='container'>
			<div class='page-header'>
				<h1>Luke Plummer</h1>
				<!--h5>Engineer, Musician, Producer</h5-->
			</div>
			<ul class='nav nav-pills span12'>
				<li class='{{engineer}}'><a href='engineer'>Engineer</a></li>
				<li class='{{music}}'><a href='music'>Musician</a></li>
				<li class='{{production}}'><a href='production'>Producer</a></li>
			</ul>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>