{% extends "base.html" %}
	{% block content %}
		<div class='row'>    
			<div class='span4 well'>
				<p class='lead'>Hey thanks for stopping by!</p>
				<p>stuff stuff.</p>
			</div>
			<div class='span4 well'> 
				<p class='lead'>More stuff!</p>
				<p>some more stuff here.</p>
			</div>
		</div>
		<div class='row'>
			<div id='footer' class='span'>
				<a class='' href='http://www.facebook.com/pages/Luke-Plummer/32715401636'><img style='width:40px;' src='static/icons/facebook.png' /></a>
				<a class='' href='http://www.reverbnation.com/lukeplummer'><img style='width:40px;' src='static/icons/reverbnation.png' /></a>
				<a class='' href='http://www.linkedin.com/pub/luke-plummer/3a/544/ba7'><img style='width:40px;' src='static/icons/linkedin.png' /></a>
				<a class='' href='http://atemporaryname.wordpress.com/'><img style='width:45px;' src='static/icons/wordpress-white.png' /></a>
				<a class='' href='https://www.soundcloud.com/lukulele-1/'><img style='width:40px;' src='static/icons/soundcloud.png' /></a>
				<a class='' href='https://www.youtube.com/channel/UCVeDzQt71fiZddqtOXXZXNQ'><img style='width:40px;' src='static/icons/youtube.png' /></a>
			</div>
		</div>
	{% endblock %}