<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<title>Lauren Burke</title>
	</head>
	<body> 
		<div class='container'>
			<div class='row'>		
				<div class='page-header'>
					<h1>Lauren Burke</h1>
					
				</div>
			</div>
			<div class='row'>
				<a href='/'>Back to Luke</a>
			</div>
			<div class='row'>
				<div class='well'>
					<p class='lead'>Luke's girlfriend. </p>
					<img style='width:250px;' src="static/img/lukeandlauren.jpg"/>
					<p>Her other achievements include being an accomplished pie-baker, obtaining a job in computational linguistics, and biking fifty (give or take two) miles. </p>
				</div>
			</div>
		</div>
	</body>
</html>
